**/__pycache__
.cache
.git*
.pytest_cache
.vscode
htmlcov
scripts
venv
.coverage
.coveragerc
.dockerignore
.DS_Store
.env
.gitignore
*.log
*.pid
.python-version
.venv
Dockerfile
README.md
docker-compose.yml
pytest-out.xml
*.pdf
examples
scratch
*.zip
