__pycache__/
*.py[cod]

env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/

*.egg-info/
*.egg
htmlcov/
pytest-out.xml
.pytest_cache/
.coverage

*.log
*.pid
*.env
*.iml
*.swp
*.pickle

venv
.venv
.DS_Store
scratch*
*.zip
